<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>check box demo</title>
</head>
<body>
<div id="app">
    <!--复选框单独使用时，也是用 v-model 来绑定一个布尔值，例如-->
    <input type="checkbox" v-model="checked" id="checked">
    <label for="checked">选择状态： {{ checked }}</label>
    <!--组合使用-->
    <p>组合使用</p>
    <input type="checkbox" v-model="checked2" value="html" id="html">
    <label for="html">HTML</label>
    <br />
    <input type="checkbox" v-model="checked2" value="js" id="js">
    <label for="js">JavaScript</label>
    <br />
    <input type="checkbox" v-model="checked2" value="css" id="css">
    <label for="css">CSS</label>
    <br />
    <p>选择的项是： {{ checked2 }}</p>
    <p>绑定值：</p>
    <input
        type="checkbox"
        v-model="toggle"
        :true-value="v1"
        :false-value="v2">
    <label>复选框</label>
    <p>{{ toggle }}</p>
    <p>{{ v1 }}</p>
    <p>{{ v2 }}</p>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue ({
        el: "#app",
        data: {
            checked: true,
            checked2: ['js'],
            toggle: false,
            v1: 'a',
            v2: 'b'
        }
    })
</script>
</html>
